/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  background-image: linear-gradient(to bottom right, #e2c1d8, #cccee6);
  color: #444;
  font-size: 16px;
  font-family: 'Gentium Book Basic', serif;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #3f3247;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
  display: flex;
  justify-content: space-around;
}
nav a:link, nav a:visited {
  color: #D0D0D0;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #F0F0F0;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}
.small {
  font-weight: 300;
  font-size: 28px;
  margin-top: 1em;
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: 14px;
  font-weight: 100;
}
.pagination {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 96%;
  display: flex;
  justify-content: space-around;
}
a.button {
  border: 1px solid #3f3247;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #3f3247;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  background-color: #3f3247;
  border: 1px solid #3f3247;
  text-decoration: none;
  color: #fff;
}
.dropcap {
  float: left;
  font-weight: 1000;
  font-size: 65px;
  line-height: 40px;
  padding-top: 5px;
  padding-right: 2px;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
